In [4]:
import pandas as pd

In [17]:
train_data = pd.read_csv("能源消耗预测挑战赛公开数据/train.csv")
test_data = pd.read_csv("能源消耗预测挑战赛公开数据/test.csv")

In [18]:
test_data

             date   id
0      2019122700    0
1      2019122700    1
2      2019122700    2
3      2019122700    3
4      2019122700    4
...           ...  ...
59875  2019123123  494
59876  2019123123  495
59877  2019123123  496
59878  2019123123  497
59879  2019123123  498

[59880 rows x 2 columns]

In [19]:
train_data['new_date'] = pd.to_datetime(train_data['date'], format='%Y%m%d%H')
test_data['new_date'] = pd.to_datetime(test_data['date'], format='%Y%m%d%H')

In [20]:
train_data['new_date_hour'] = train_data['new_date'].dt.hour
test_data['new_date_hour'] = test_data['new_date'].dt.hour

In [23]:
mean_target = train_data.groupby(['id', "new_date_hour"])['target'].mean().reset_index()

In [24]:
pd.merge(test_data, mean_target, 
         on=['id', "new_date_hour"], how='left'
)[['date', 'id', 'target']].to_csv('submit.csv', index=None)